<!DOCTYPE html>
<html>
<head>
  <title>Probuda | By Bryan Pauquette</title>
  <%= include_gon %>
  <%= env_stylesheet_link_tag( static: 'application_static', 
                               hot: 'application_non_webpack', 
                               media: 'all', 
                               'data-turbolinks-track' => true ) %>
   <%= env_javascript_include_tag(hot: ['vendor-bundle.js',
                                       'app-bundle.js']) %>
  <%= env_javascript_include_tag(static: 'application_static',
                                 hot: 'application_non_webpack',
                                 'data-turbolinks-track' => true) %>
  <%= csrf_meta_tags %>
</header>
</head>
<body>
<div>
  <%= yield %>
  <div class="flash-settings">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>
</div>
<%= redux_store_hydration_data %>
</body>
</html>
